# Copiez ce fichier en .env.local et adaptez les valeurs
DATABASE_URL="postgresql://VOTRE_USER:VOTRE_PASSWORD@127.0.0.1:5432/sentech_grh?serverVersion=15&charset=utf8"
APP_SECRET=changez_ce_secret_en_prod
